
/* Background class for background color and image in section homepage */
.background-homepage {
    height: 80vh;
    background: linear-gradient(#fff, #ACDE80);
}

/* Styles for background gradient */

.background-grad {
    width:40%;
    text-align: center;
    padding: 3% 5%;
}

.logo {
    height: 40%;
    width: 50%;
}

.slogan {
    font-family: 'Indie Flower', cursive;
    color: #21810A;
    font-size: 1.2rem;
    margin-top: 10%;
}

.download-button-android {
    margin: 10% 3% 3%;
}

.download-button-apple {
    margin: 10% 3% 3%;
}




/* Styles for the background image*/
.background-image {
    height: 100%;
    width: 60%;
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 9% 100%);
}

/* Styles for features section */
#features {
    
    height: 80vh;
}

.feature-par {
    height: 70%;
    text-align: center;
}

.feature {
    text-align: center;
    padding-top: 7%;
}

.feature-icon {
    color: #21810A;
}

.feature-icon:hover {
    color: #ACDE80;
}

.feature-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 3% 0;

}

.feature-text {
    font-family: 'Indie Flower', cursive;
}

.sunflowers-par {
    height: 30%;
}

.left-flowers {
    text-align: left;
}

.right-flowers {
    text-align: right;
}

.big-sunflower {
    height: 100%;
    width: 10%;

}

/* Styles for slide show page */

#image-slideshow {
    height: 80vh;
    width: 100vw;
    margin-top: auto;
    background: linear-gradient( #ACDE80,#fff);
}

.slideshow-container {
    height: 80%;
    width: 100%;
    position: relative;
    padding-top: 7%;

}
.slide-show {
    width: 100%;
    height: 320px;
    text-align: center;
    margin: auto;
}

#slide-image {
    width:100%;
    height: 320px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    padding: 1%;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;

}

.prev {
    left: 1%;
}

.next {
    right: 0.1%;
}
/* BLack ground when hover on the arrows*/
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.caption-text {
    color: white;
    text-align: center;
    background-color: #222;
    padding: 2% 3%;
}


.dots{
    height: 20%;
    position: absolute;
    left: 44%;
    margin-top: 7%;

}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

}

.active, .dot:hover {

    background-color: #717171;

}