
  /******* Phone Styles  *********/
    /* Galaxy fold styles */
@media screen and (max-width:280px) {

    .logo {
        height: 12rem;
        width: 12rem;
    }

    .slogan {
        font-size: 1rem;
    }

    .download-button-android {
        margin: 1rem;
        padding: 0.5rem;
    }

    .download-button-apple {
        margin: 1rem;
        padding: 0.5rem;
    }

    .small-sunflower, .big-sunflower {
        display: none;
    }


}

    /* Moto G4, Galaxy 5, iphone 5 styles */
@media screen and (min-width:281px) and (max-width:360px) {

    .logo {
        height: 15rem;
        width: 15rem;
    }

    .slogan {
        font-size: 1.2rem;
    }

    .download-button-android {
        margin: 1rem;
    }

    .download-button-apple {
        margin: 1rem;
    }

    .small-sunflower, .big-sunflower {
        display: none;
    }

}

    /* Pixel 2 and 2xl, iphone 6-8, iphone x styles */
@media screen and (min-width:361px) and (max-width:414px){

    .logo {
        height: 15rem;
        width: 15rem;
    }

    .left-container {
        padding-top: 12rem;
    }

    .slogan {
        font-size: 1.3rem;
    }

    .small-sunflower, .big-sunflower {
        display: none;
    }
}

    /* Surface duo styles */
@media screen and (min-width:450px) and (max-width:700px){

    .logo {
        height: 15rem;
        width: 15rem;
    }
    
    .left-container {
        padding-top: 8rem;
    }


    .slogan {
        font-size: 1.3rem;
    }

    .small-sunflower, .big-sunflower {
        display: none;
    }

    .left-flowers {
        text-align: left;
    }

}

    /* Ipad styles*/
@media screen and (min-width:768px) and (max-width:768px){

    .left-container {
        padding: 14rem 10rem;

    }


    .slogan {
        font-size: 2rem;
    }

    .sunflowers-par {
        padding-top: 9rem;
    }
}

   /* Ipad styles*/
@media screen and (min-width:769px) and (max-width:1023px){

    .left-container {
        padding: 6rem 6rem;

    }


    .slogan {
        font-size: 2rem;
    }


}

    /* Ipad pro styles*/
@media screen and (min-width:1024px) and (max-width:1024px){

    .left-container {
        padding: 30rem 0;
        padding-left: 3rem;

    }


    .slogan {
        font-size: 2.3rem;
    }

    .sunflowers-par {
        padding-top: 16rem;
    }

    .feature-par {
        padding-top: 20rem;
    }
}
